@use "../utils" as u;

footer{
    background-color: u.$color-secondary;
    padding: 50px 5%;
    text-align: center;
    position: relative;

    @include u.tablet-only{
        text-align: left;
        padding: 70px 5%;
    }

    @include u.desktop-only{
        padding: 70px 10%;
    }

    .deco-container{
        width: 100%;
        height: 5px;
        position: absolute;
        left: 0;
        top: 0;

        .deco{
            height: 100%;
            width: 30%;
            background-color: u.$color-primary;
            margin: auto;

            @include u.tablet-only{
                margin-left: 5%;
                width: 14%;
            }

            @include u.desktop-only{
                margin-left: 10%;
            }
        }
    }

    .footer__top{

        @include u.desktop-only{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 30px;
        }

        .deployed-nav{
            margin-bottom: 35px;
            margin-top: 40px;

            @include u.desktop-only{
                margin: 0;
            }
    
            ul{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0;
                margin: 0;
    
                @include u.tablet-only{
                    flex-direction: row;
                }
    
                li{
                    margin-bottom: 20px;
                    font-weight: 300;
                    letter-spacing: 0.2rem;
                    font-size: 0.9rem;
    
                    @include u.tablet-only{
                        margin-right: 30px;
                    }

                    @include u.desktop-only{
                        margin-right: 0;
                        margin-left: 30px;
                    }
                }
            }
        }
    }

    .footer__text{
        color: u.$color-text-primary;
        line-height: 1.6rem;
        margin-bottom: 40px;

        @include u.desktop-only{
            width: 43%;
            margin-bottom: 50px;
        }
    }

    .footer__copyright{
        color: u.$color-text-primary;
        margin-bottom: 50px;

        @include u.tablet-only{
            margin-bottom: 0;
        }
    }

    .social-media{
        width: 100px;
        margin: auto;
        display: flex;
        justify-content: space-between;

        @include u.tablet-only{
            position: absolute;
            right: 5%;
            bottom: 45px;
        }

        @include u.desktop-only{
            bottom: 150px;
            right: 10%;
        }
    }
}