@use "../utils" as u;

header{
    background-color: u.$color-secondary;
    color: u.$color-tertiary;
    height: 90px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;

    &:after{
        content: '';
        width: 100%;
        height: 1px;
        background-color: rgba(158, 158, 158, 0.569);
        position: absolute;
        bottom: 0;
        left: 0;

        @include u.tablet-only{
            width: 90%;
            left: unset;
        }

        @include u.desktop-only{
            width: 80%;
        }
    }

    @include u.tablet-only{
        justify-content: flex-start;
        height: 90px;
    }

    @include u.desktop-only{
        justify-content: space-between;
        padding: 0 10%;
    }

    @include u.ultra-wide-only{
        padding: 0 calc(((100vw - 1990px)/2) + 199px);
    }

    .hamburger{
        background-color: transparent;
        border: none;
        width: 40px;
        height: 40px;

        @include u.tablet-only{
            width: 50px;
            height: 50px;
        }

        img{
            @include u.tablet-only{
                width: 22px;
                height: 22px;
            }
        }
    }

    .brand-logo{
        @include u.tablet-only{
            margin-left: 30px;
        }

        @include u.desktop-only{
            margin-left: 0;
        }

        img{
            @include u.tablet-only{
                width: 170px;
            }
        }
    }

    .cart{
        background-color: transparent;
        border: none;
        width: 40px;
        height: 40px;

        @include u.tablet-only{
            margin-left: auto;
        }

        @include u.desktop-only{
            margin-left: 0;
            text-align: right;
            cursor: pointer;
        }

        img{
            @include u.tablet-only{
                width: 25px;
                height: 25px;
            }
        }
    }

    .mobile-nav{
        position: absolute;
        left: 0;
        top: 90px;
        width: 100%;
        z-index: 2;
    }

    .deployed-nav{
        ul{
            display: flex;

            li{
                margin-right: 30px;

                @media only screen and (max-width: 889px) {
                    font-size: 0.6rem;
                }
            }
        }
    }
}