@use "../utils" as u;

.checkout-lightbox{
    position: fixed;
    top: 110px;
    background-color: u.$color-background-secondary;
    width: 90%;
    margin: auto 5%;
    border-radius: 10px;
    padding: 35px 7%;
    z-index: 2;
    max-height: 75vh;
    overflow-y: scroll;

    @include u.tablet-only{
        width: 76vw;
        left: calc(50vw - 38vw);
        margin: 0;
        top: 200px;
    }

    @include u.desktop-only{
        top: 150px;
        width: 550px;
        left: calc(50vw - 275px);
        padding: 45px;
        max-height: none;
        overflow-y: visible;
    }

    .lightbox__title{
        font-size: 1.8rem;
        margin-bottom: 10px;
        margin-top: 15px;

        @include u.tablet-only{
            font-size: 2.1rem;
            margin-bottom: 20px;
        }
    }

    .lightbox__description{
        font-size: 1.1rem;
        color: u.$color-text-primary;
        margin-bottom: 30px;
    }

    .cart-and-price{
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 25px;

        @include u.tablet-only{
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
            margin-bottom: 45px;
        }

        .cart{
            background-color: u.$color-background-primary;
            padding: 7%;

            @include u.tablet-only{
                width: 60%;
                padding: 25px 7%;
            }

            .cart__product{
                display: flex;
                flex-wrap: nowrap;
                margin-bottom: 10px;

                img{
                    width: 60px;
                    aspect-ratio: 1/1;
                    object-fit: cover;
                }

                .cart__title-price{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 7px 0;
                    margin-right: auto;
                    margin-left: 10px;

                    @include u.tablet-only{
                        margin-left: 15px;
                    }

                    h4{
                        font-size: 1rem;
                        font-weight: 600;
                    }

                    p{
                        color: u.$color-text-primary;
                        font-weight: 600;
                    }
                }

                .cart__quantity{
                    padding-top: 7px;
                    font-weight: 600;
                    color: u.$color-text-primary;
                }
            }

            .deco-line{
                width: 90%;
                height: 2px;
                background-color: u.$color-text-tertiary;
                margin: auto auto 13px auto;
            }

            .other-items{
                text-align: center;
                font-weight: 600;
                font-size: 0.8rem;
                color: u.$color-text-primary;
            }
        }

        .price{
            background-color: u.$color-secondary;
            padding: 20px 10%;

            @include u.tablet-only{
                padding: 0 0 0 35px;
                width: 40%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .price__title{
                color: u.$color-text-primary;
                margin-bottom: 10px;
                font-size: 1.1rem;

                @include u.tablet-only{
                    font-size: 1rem;
                }
            }

            .price__number{
                color: u.$color-tertiary;
                font-weight: 600;
                font-size: 1.1rem;
            }
        }
    }

    .button-back-home{
        width: 100%;  
    }
}