@use "../utils" as u;

.deployed-nav{
    ul{
        list-style-type: none;
        
        a{
            text-decoration: none;
            color: u.$color-tertiary;
            letter-spacing: 0.15rem;

            @include u.desktop-only{
                &:hover{
                    color: u.$color-primary;
                }
            }
        }
    }
}