@use "../utils" as u;

.category{

    .category__top{
        background-color: u.$color-secondary;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;

        @include u.tablet-only{
            height: 200px;
            margin-bottom: 120px;
        }

        @include u.desktop-only{
            height: 160px;
        }

        .title{
            color: u.$color-text-secondary;
            font-size: 1.8rem;
            font-weight: 500;

            @include u.tablet-only{
                font-size: 2.2rem;
            }
        }
    }

    .products-block{
        margin-bottom: 200px;

        @include u.tablet-only{
            margin-bottom: 100px;
        }
    }

    //Reorganise product__image order at every 2 products
    .product:nth-child(even){
        .product__image{
            @include u.desktop-only{
                order: 2;
            }
        }
    }

    .product{
        width: 90%;
        margin: 60px auto;

        @include u.desktop-only{
            width: 80%;
            display: flex;
            justify-content: space-between;
            margin: 120px auto;
        }

        .product__image{
            width: 100%;
            border-radius: 10px;
            margin-bottom: 30px;
            object-fit: cover;
            object-position: center;

            @include u.tablet-only{
                margin-bottom: 40px;
            }

            @include u.desktop-only{
                width: 45%;
                margin-bottom: 0;
            }
        }

        .product__info{
            text-align: center;

            @include u.desktop-only{
                width: 45%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                text-align: left;
            }

            .product__new{
                color: u.$color-primary;
                font-weight: 400;
                font-size: 1rem;
                letter-spacing: 0.7rem;
                margin-bottom: 25px;

                @include u.tablet-only{
                    margin-bottom: 10px;
                }
            }

            .product__title{
                font-size: 2.1rem;
                margin-bottom: 30px;

                @include u.tablet-only{
                    width: 50%;
                    margin: auto auto 30px auto;
                    font-size: 2.9rem;
                }

                @include u.desktop-only{
                    font-size: 2.2rem;
                    width: 60%;
                    margin: 0 0 30px 0;
                }
            }

            .product__description{
                color: u.$color-text-primary;
                font-size: 1.1rem;
                line-height: 1.8rem;
                margin-bottom: 30px;

                @include u.tablet-only{
                    width: 90%;
                    margin: auto auto 30px auto;
                }

                @include u.desktop-only{
                    width: auto;
                    margin: 0 0 30px 0;
                }
            }

        }
    }
}