@use "../utils" as u;

.homepage{
    
    .hero{
        min-height: 500px;
        padding: 0 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @include u.tablet-only{
            min-height: 630px;
            padding: 0 25%;
            margin-bottom: 40px;
        }

        @include u.desktop-only{
            padding: 0 65% 0 10%;
            align-items: flex-start;
            text-align: left;
            min-height: calc(100vh - 90px);
        }
        

        .hero__title{
            color: u.$color-text-primary;
            font-size: 1.2rem;
            letter-spacing: 0.4rem;
            margin-bottom: 20px;
            font-weight: 300;
        }

        .hero__product-name{
            color: u.$color-text-secondary;
            font-size: 2.3rem;
            line-height: 2.7rem;
            margin-bottom: 25px;

            @include u.tablet-only{
                font-size: 3.5rem;
                line-height: 3.7rem;
            }
        }

        .hero__description{
            color: u.$color-text-primary;
            margin-bottom: 30px;
        }
    }

    .homepage__module--1{
        background-color: u.$color-primary;
        width: 90%;
        margin: 80px auto 20px auto;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 5%;
        text-align: center;

        @include u.tablet-only{
            margin: 40px auto 20px auto;
            padding: 50px 23% 70px 23%;
        }

        @include u.desktop-only{
            width: 80%;
            margin: 90px auto 60px auto;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            padding: 130px 12% 0px 10%;
            overflow: hidden;
        }

        .module__image{
            width: 50%;
            margin: 30px auto;

            @include u.tablet-only{
                margin: 20px auto 70px auto;
            }

            @include u.desktop-only{
                margin: 0px;
                width: 400px;
                transform: translateY(10px);
            }
        }

        .content{

            @include u.desktop-only{
                width: 400px;
                text-align: left;
                padding-right: 10px;
            }

            .content__title{
                color: u.$color-text-secondary;
                font-size: 2.7rem;
                line-height: 3rem;
                margin-bottom: 30px;

                @include u.tablet-only{
                    font-size: 3.5rem;
                    line-height: 3.8rem;
                }

                @include u.desktop-only{
                    font-size: 4.5rem;
                    line-height: 4.8rem;
                }
            }

            .content__description{
                color: u.$color-text-tertiary;
                font-weight: 300;
                margin-bottom: 30px;

                @include u.tablet-only{
                    margin-bottom: 40px;
                }
            }
        }
    }

    .homepage__module--2{
        width: 90%;
        margin: 30px auto;
        border-radius: 10px;
        min-height: 380px;
        padding: 30px;
        display: flex;
        align-items: center;

        @include u.tablet-only{
            padding: 60px;
        }

        @include u.desktop-only{
            width: 80%;
            margin: 60px auto;
            padding: 100px;
        }

        .content{
            .content__title{
                font-size: 1.9rem;
                letter-spacing: 0.2rem;
                margin-bottom: 35px;
            }
        }
    }

    .homepage__module--3{
        width: 90%;
        margin: 30px auto;

        @include u.tablet-only{
            display: flex;
            justify-content: space-between;
            height: 300px;
        }

        @include u.desktop-only{
            width: 80%;
            height: 350px;
        }

        .image{
            height: 250px;
            width: 100%;
            border-radius: 10px;
            margin-bottom: 30px;

            @include u.tablet-only{
                width: 49%;
                height: 100%;
            }
        }

        .content{
            height: 250px;
            width: 100%;
            border-radius: 10px;
            background-color: u.$color-text-tertiary;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 30px;

            @include u.tablet-only{
                width: 49%;
                height: 100%;
            }

            @include u.desktop-only{
                padding-left: 100px;
            }

            .content__title{
                font-size: 2.2rem;
                margin-bottom: 35px;
            }
        }
    }
}