@use "../utils" as u;

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

.app{
    width: 100%;
    height: 100%;
    margin: 0;
}

body{
    margin: 0;
    padding-top: 90px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
        display: none;
    }

    @include u.ultra-wide-only{
        max-width: 1990px;
        margin: auto;
    }
}

a:focus,a:visited,a:active{
    outline: none;
}