@use "../utils" as u;

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

.app{
    width: 100%;
    height: 100%;
    margin: 0;
}

body{
    margin: 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
        display: none;
    }

    @include u.ultra-wide-only{
        max-width: 1990px;
        margin: auto;
    }
}

a:focus,a:visited,a:active{
    outline: none;
}

// Global component
.container-primary {
    border-radius: 10px;
    background-color: u.$color-background-secondary;
    padding: 1.5rem;
}

.planned {
    background-color: u.$color-planned;
}

.in-progress {
    background-color: u.$color-in-progress;
}

.live {
    background-color: u.$color-live;
}