@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body, button, input, label{
    font-family: "Jost", sans-serif;
}

p, h1, h2, h3, h4, h5, h6{
    cursor: default;
    margin: 0;
}